@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
       url("./fonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"),
       url("./fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"),
       url("./fonts/Montserrat-Medium/Montserrat-Medium.otf") format("opentype"),
       url("./fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"),
       url("./fonts/Montserrat-SemiBold/Montserrat-SemiBold.otf") format("opentype"),
       url("./fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat_bold/Montserrat-Bold.ttf") format("truetype"),
       url("./fonts/montserrat_bold/Montserrat-Bold.otf") format("opentype"), 
       url("./fonts/montserrat_bold/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}