 body{
  font-family: Montserrat;
  font-style: normal;
 }

.header {}
.logo {}
.header__nav {}

.header__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.header__link_color_red {
  color: #E51937;
}

.menuBurger {}
.header__line {}
.section {}

.section__title {
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  color: #000000
}

.section__subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.section__auto {}
.article {}
.article-info__background-image_speed {}
.article-info__speed {}

.article-info__text-speed_big {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__span-speed {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-speed_small {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-info__background-image_distance {}
.article-info__distance {}
.article-info__text-big_distance {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__span-distance {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_distance {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order {}
.order-info__background-image_test {}

.order-info__text-test {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.order-info__button-test {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  box-sizing: border-box;
}

.menu {}
.aside_top {}
.aside__header {
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #E51937;
}

.aside-conten__background-right {}
.aside-conten__text-white_right {}
.aside-conten__text-title_right {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-info_right {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.article-info__right {}
.article-info__background-image_dyuym {}
.article-info__text-big_dyuym {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__span-dyuym {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_dysplay {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-info__background-image_wireless {}
.article-info__text-big_wireless {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__text-small_wireless {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.article-info__background-image_litrov {}

.article-info__text-big_litrov {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px
}

.article-info__span-litrov {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_volume {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order-right {}
.order-info__background-image_detale {}

.order-info__text-detale_right {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.order-info__button-right {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #E51937;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
}

.aside-bottom {}
.aside-conten__background-left {}
.aside-conten__protection {}
.aside-conten__text-title_left {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-info_left {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.aside-conten__text-info_appraisal {}
.aside-conten__text-info_protection {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-appraisal {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
}

.aside-conten__text-appraisal_front-stars {}
.protection__star {}
.aside-conten__text-appraisal_sideways-stars {}
.aside-conten__text-sideways_stars-rack {}
.aside-conten__text-appraisal_rack-stars {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.aside-conten__text-driver_stars {}
.aside-conten__text-passenger_stars {}
.article-info__left {}
.article-info__background-image_shield {}

.article-info__text-big_star-five {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__text-small_star-security {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order-left {}
.order-info__background-image_detale-left {}

.order-info__text-detale_left {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.order-info__button-left {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #E51937;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-conten__car {}
.main-conten__background-image_auto {}

.main-conten__appraisal-model {
  font-weight: 600;
  font-size: 200px;
  line-height: 244px;
  color: #E51937;
  opacity: 0.1;
}

.footer {}