 body {
  max-width: 1440px;
  font-family: Montserrat;
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0 auto;
 }

 * {
  box-sizing: border-box;
}

.header {
  display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 35px;
}

.logo {
  background: url(img/Tesla-logo.svg) center no-repeat;
  box-sizing: border-box;
  display: inline-block;
  width: 166px;
  height: 51px;
  padding: 49px 126px;
  margin-right: 214px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 19px;
  margin: 0;
  }

.nav,.right-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav__link,
.right-nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  width: 70px;
  height: 19px;
  color: inherit;
}

.header__link,
.right-header__link {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header__link {
  position: relative;
  color: #000;
}

.header__link:nth-child(4) {
  left: 13px;
}

.header__link:last-child {
  left: 29px;
}

.header__link_color_red {
  color: #e51937;
}

.header__link_color_red:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #e51937;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header__link:not(:last-child) {
  margin-right: 31px;
}

.header__link:nth-child(1) {
  margin-right: 63px;
}

.header__link:nth-child(2) {
  margin-right: 25px;
}

.right-header__link:first-child {
  position: relative;
  right: : 10px;
}

.right-header__link:not(:last-child) {
  margin-right: 30px;
}

.right-header__link_menuBurger {
  display: inline-flex;
  align-items: center;
}

.right-header__menuBurger {
  display: inline-block;
  background: url(img/menuBurger.svg) no-repeat;
  width: 24px;
  height: 15px;
  margin-top: 2px;
  margin-right: 61px;
  cursor: pointer;
}

.section {
  background:url(img/Tesla-text.svg) no-repeat;
  width: 100%;
  height: 714px;
}

.section__title {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  color: #000000;
  width: 100%;
  height: 101px;
  margin: 0;
}

.section__subtitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  width: 100%;
  height: 18px;
  margin: 0;
}

.section__auto {
  background: url(img/tesla-auto.svg) 200px 26px no-repeat;
  height: 492px;
  margin: 0;
}

.article {
  display: inline-flex;
  margin: 9px 314px;
  width: 57%;
  height: 65px;
}

.article-info__background-image_speed {
  background: url(img/Speed.svg) no-repeat;
  width: 52px;
  height: 39px;
  margin: 14px 12px 0px 3px;
}

.article-info__speed {
  font-weight: 600;
  color: #000000;
  margin-top: 3px;
  margin-right: 75px; 
}

.article-info__text-speed_big {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
}

.article-info__span-speed {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 6px;
}

.article-info__text-speed_small {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.article-info__background-image_distance {
  background: url(img/distance.svg) center no-repeat;
  width: 4%;
  height: 62px;
  margin: 8px 9px 0px 0;
}

.article-info__distance {
  margin-right: 103px;
}

.article-info__text-big_distance {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  width: 65%;
  height: 39px;
  margin: 2px 0 2px;
}

.article-info__span-distance {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 100%;
  height: 25px;
  margin: 6px;
}

.article-info__text-small_distance {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 0 8px
}

.order {
  display: inline-flex;
}

.order-info__background-image_test {
  background: url(img/test.svg) center no-repeat;
  width: 22px;
  height: 22px;
  margin: 22px 9px 0 0;
}

.order-info__text-test {
  display: inline-flex;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  width: 43%;
  color: #000000;
  margin: 27px 17px 0 0;
}

.order-info__button-test {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  box-sizing: border-box;
  margin: 13px 0 0;
  width: 184px;
  height: 40px;
}

.menu {}
.aside_top {}
.aside__header {
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #E51937;
}

.aside-conten__background-right {}
.aside-conten__text-white_right {}
.aside-conten__text-title_right {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-info_right {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.article-info__right {}
.article-info__background-image_dyuym {}
.article-info__text-big_dyuym {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__span-dyuym {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_dysplay {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-info__background-image_wireless {}
.article-info__text-big_wireless {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__text-small_wireless {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.article-info__background-image_litrov {}

.article-info__text-big_litrov {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px
}

.article-info__span-litrov {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_volume {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order-right {}
.order-info__background-image_detale {}

.order-info__text-detale_right {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.order-info__button-right {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #E51937;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
}

.aside-bottom {}
.aside-conten__background-left {}
.aside-conten__protection {}
.aside-conten__text-title_left {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-info_left {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.aside-conten__text-info_appraisal {}
.aside-conten__text-info_protection {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-appraisal {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
}

.aside-conten__text-appraisal_front-stars {}
.protection__star {}
.aside-conten__text-appraisal_sideways-stars {}
.aside-conten__text-sideways_stars-rack {}
.aside-conten__text-appraisal_rack-stars {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.aside-conten__text-driver_stars {}
.aside-conten__text-passenger_stars {}
.article-info__left {}
.article-info__background-image_shield {}

.article-info__text-big_star-five {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__text-small_star-security {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order-left {}
.order-info__background-image_detale-left {}

.order-info__text-detale_left {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.order-info__button-left {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #E51937;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-conten__car {}
.main-conten__background-image_auto {}

.main-conten__appraisal-model {
  font-weight: 600;
  font-size: 200px;
  line-height: 244px;
  color: #E51937;
  opacity: 0.1;
}

.footer {}