body{
    border: dashed 1px red;
    margin: 0 auto;
    width: 1440px;
    height: 2700px;
    font-family: Montserrat;
    font-style: normal;
}

.header{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.header__logo{
    background: url(img/Tesla-logo.svg) no-repeat;
    background-position: center;
    width: 166px;
    height: 42px;
    padding: 26px 42px;
    margin-right: 217px;
} 

.header__menu_nav{

}

.header__menu{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 19px;
}

.header__menu_link{
    display: inline-flex;
}

.menu__link--active{
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   color: #E51937;
   text-decoration: none;
}

.menu__link_line{
    border-top: 2px solid #E51937;
    margin: 7px 3px;
}

.menu__link{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 59px;
}

.menu__link_model{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 21px;
}

.menu__link_roadster{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 40px;
}

.menu__link_energy{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 42px;
}

.header__menu_conten{
    display:  inline-flex;
}

.menu__conten_link{
    display: inline-flex;
}

.menu__link_store{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 216px;
}

.menu__link_enter{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 31px;
}

.menuBurger{
    background: url(img/menuBurger.svg) no-repeat;
    background-position: center;
    width: 100%;
    height: 18px;
    padding: 0 41px;
    cursor: pointer;
}

.section{
    background:url(img/Tesla-text.svg) 0px 0px no-repeat;
    width: 100%;
    height: 731px;
 }

.section__title{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    color: #000000;
    width: 100%;
    height: 104px;
    margin-top: 35px;
    margin-bottom: 0;
}

.section__subtitle{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    color: #000000;
    width: 100%;
    height: 14px;
    margin: 0;
}

.section__image_auto{
    background: url(img/tesla-auto.svg) 200px 26px no-repeat;
    width: 100%;
    height: 492px;
    margin: 0;
}

.article{
	display: flex;
    margin: 7px 313px 26px;
}

.article__image_speed{
    background: url(img/Speed.svg) no-repeat;
    width: 52px;
    height: 39px;
    margin: 15px 12px 0 3px;
}

.section__article_speed{
    margin-right: 72px;
    
}
.article__speed{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    width: 100%;
    height: 41px;
    margin: 4px 0 0;
}

.article__text_span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 37px;
    height: 25px;
    margin: 7px;
}

.article__text_small{
   font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 100%;
    height: 15px;
    margin: 0;
}

.article_image_distance{
    background: url(img/distance.svg) center no-repeat;
    width: 4%;
    height: 62px;
    margin: 8px 11px 0 0;
}

.siction__article_distance{
    margin-right: 99px;
}

.article__distance{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    width: 100%;
    height: 39px;
    margin: 4px 0 0;
}

.article__text_span.additional{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 6px;
}

.article__text_small.additional{
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    width: 100%;
    height: 15px;
}

.article__image_test{
    background: url(img/test.svg) center no-repeat;
    width: 22px;
    height: 22px;
    margin: 23px 1px 0;
}

.section__article_test{
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 12%;
    color: #000000;
    margin: 28px 37px 0 0;
   }

.article__text_btn{
    border: 2px solid #E51937;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    color: #E51937;
    margin: 13px 0 0;
}

.wraper__menu{
    display: flex;
    background: url(img/menu.svg) center no-repeat;
    width: 37px;
    height: 18px;
    margin: auto;
}

.wraper{
    background: url(img/tesla-model-s-cockpit.svg) 0 100% no-repeat;
    display: flex;
    width: 100%;
    height: 935px;
}

.wraper__header{
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #e51937;
    padding: 99px 80px;
    margin: 0 494px 0 0;
    width: 24%;
}

.conten{
    background: #e51937;
    width: 440px;
    height: 900px;
    margin-top: 35px;
}

.wrper__conten{
    color: #FFFFFF;
}

.wraper__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 51px 0 14px 53px;
    margin: 0;
}

.wraper__text{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 316px;
    height: 206px;
    padding: 0 52px;
    margin: 0;
}

.wraper__info{
    display: inline-block;
    width: 400px;
    padding: 0 0 0 45px;
    margin: 0;
}

.wraper__image_dyuym{
    background: url(img/dyuym.svg) no-repeat;
    display: inline-block;
    width: 36px;
    height: 53px;
    padding: 0;
    margin: 64px 0 0 8px;
}

.wraper__list_dyuym{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 51px 206px 0 0;
    float: right;
}

.wraper__items_dyuym{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.wraper__item_dysplay{
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    float: revert;
}

.wraper__image_wireless{
    display: inline-block;
    background: url(img/wireless.svg) no-repeat;
    width: 44px;
    height: 34px;
    margin: 48px 0 0 4px;
}

.wraper__list_wireless{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    width: 173px;
    height: 36px;
    float: right;
    padding: 0 160px 0 0;
    margin: 34px 0 0;
}

.wraper__item_wireless{
    display: inline-block;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    width: 166px;
    height: 30px;
    padding: 3px 0;
    margin: 0;
}

.wraper__image_litrov{
    background: url(img/litrov.svg) no-repeat;
    width: 36px;
    height: 52px;
    float: left;
    padding: 0;
    margin: 54px 0 0 8px;
}

.wraper__list_litrov{
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 41px 0 0 24px;
}

.wraper__items_litrov{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

.wraper__item_volume{
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    color: #FFFFFF;
    width: 158px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.wraper__image_excerpt{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 22px;
    height: 22px;
    margin: 177px 9px 0 49px;
}

.wraper__info_excerpt{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    margin: 182px 0 0;
}

.wraper__btn{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    float: right;
    margin: 170px 43px 0 0;
}

.aside{
   display: inline-block;
    width: 1440px;
    height: 900px;
    padding: 0;
    margin: 0;
}

.aside__conten{
    background: #e51937;
    width: 440px;
    height: 900px;
    float: left;
    margin: 0;
}

.aside__protection{
    width: 440px;
    color: #FFFFFF;
    padding: 50px 0px 59px;
}

.aside__protection_subject{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 0 56px 13px;
    margin: 0;
}

.aside__protection_sidebar{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0 56px;
    margin: 0;
  }

  .aside__appraisal_stars{
    width: 440px;
    padding: 0 56px 91px;
    margin: 0;
}

  .aside__appraisal_protection{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 0 0 24px;
    margin: 0;
}

.aside__appraisal{
    width: 300px;
    height: 25px;
    display: inline-flex;
    padding: 0 0 12px;
}

.appraisal__front_stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 60px 0 0;
}

.protection__star{
    margin: 0px 1px;
}

.appraisal__side_stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 6px 88px 0 0;
}

.appraisal__pillar_stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 34px 0 0;
}

.appraisal__stars_small{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.appraisal__driver_stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 48px 0 0;
}

.appraisal__passenger_stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 41px 0 0;
}

.aside__protection_info{
    width: 440px;
    color: #FFFFFF;
}

.aside__protection_shield{
    background: url(img/shield.svg) no-repeat;
    width: 62px;
    height: 74px;
    float: left;
    margin: 8px 23px 0px 66px;
}

  .aside__protection_list{
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    margin: 0;
  }

  .aside__protection_item{
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 55px;
  }

  .aside__protection_image{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 22px;
    height: 22px;
    margin: 17px 0 0 38px;
  }

  .aside__protection_excerpt{
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    padding: 20px 8px 0;
    margin: 0;
  }

  .aside__protection_btn{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    float: right;
    margin: 9px 55px 0 0;
}

.aside__conten_img{
    width: 1000px;
    height: 900px;
    background: #FFFFFF; 
    float: left;
    margin: 0;
}

.aside__protection_auto{
    background: url(img/Car.svg) 0 75px no-repeat;
    width: 1049px;
    height: 670px;
    margin: 0;
}

.aside__protection_model{
    font-weight: 600;
    font-size: 200px;
    line-height: 244px;
    width: 821px;
    height: 200px;
    color: #E51937;
    opacity: 0.1;
    margin: 96px 0 0 186px;
}

.footer__image{
    padding: 0 19px;
    float: right;
}