
body {
  max-width: 1440px;
  min-width: 769px;
  font-family: Montserrat;
  font-style: normal;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.logo {
  background: url(img/Tesla-logo.svg) center no-repeat;
   box-sizing: border-box;
  display: inline-block;
  width: 166px;
  height: 51px;
  padding: 49px 126px;
  margin-right: 214px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 68vw;
  height: 19px;
  margin: 0;
}

.nav,.right-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav__link,
.right-nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  width: 70px;
  height: 19px;
  color: inherit;
}

.header__link,
.right-header__link {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header__link {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.header__link:nth-child(4) {
  left: 44px;
}

.header__link:last-child {
  left: 90px;
}

.header__link_color_red {
  color: #e51937;
}

.header__link_color_red:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #e51937;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

  .header__link:not(:last-child) {
  margin-right: 31px;
}

.header__link:nth-child(1) {
  margin-right: 64px;
}
.header__link:nth-child(2) {
  margin-right: 26px;
}
  
.right-header__link:first-child {
  position: relative;
}

.right-header__link:not(:last-child) {
  margin-right: 30px;
}

.right-header__link_menuBurger {
  display: flex;
  align-items: center;
}

.right-header__menuBurger {
  display: block;
  background: url(img/menuBurger.svg) no-repeat;
  width: 2vw;
  height: 15px;
  margin-top: 1px;
  margin-right: 55px;
  cursor: pointer;
}
  
  .header__link:hover {
    color: #e51937;
  }

  .right-header__link:hover {
    color: #e51937;
  }

  .header__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #e51937;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .right-header__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #e51937;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .section {
    background:url(img/Tesla-text.svg) no-repeat;
    width: 95vw;
    height: 714px;
  }

  .section__title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    color: #000000;
    width: 100vw;
    height: 101px;
    margin: 0;
  }

  .section__subtitle {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    width: 100vw;
    height: 18px;
    margin: 0;
  }

  .section__auto {
    background: url(img/tesla-auto.svg) 203px 27px no-repeat;
    background-size: 67vw;
    width: 95vw;
    height: 492px;
    margin: 0;
  }

  .article {
    display: flex;
    margin: 9px 311px;
    width: 59vw;
    height: 65px;
  }

  .article-info__detale {
    display: flex;
    width: 35vw;
    height: 66px;
    margin: 0;
  }

  .article-info__background-image_speed {
    background: url(img/Speed.svg) no-repeat;
    width: 11%;
    height: 39px;
    margin: 14px 14px 0 3px;
  }

  .article-info__speed {
    font-weight: 600;
    color: #000000;
    margin-top: 2px;
    margin-right: 74px;
  }

  .article-info__text-speed_big {
    font-size: 35px;
    line-height: 43px;
    margin: 0;
  }

  .article-info__span-speed {
    font-size: 20px;
    line-height: 24px;
    margin: 6px;
  }

  .article-info__text-speed_small {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  .article-info__background-image_distance {
    background: url(img/distance.svg) center no-repeat;
    width: 7%;
    height: 62px;
    margin: 6px 10px 0 0;
  }

  .article-info__distance {
    margin-right: 0;
  }

  .article-info__text-big_distance {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    width: 65%;
    height: 41px;
    margin: 1px 0;
  }

  .article-info__span-distance {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 7px;
  }

  .article-info__text-small_distance {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0;
  }

  .order {
    display: flex;
    width: 27vw;
    height: 56px;
  }

  .order-info__background-image_test {
    background: url(img/test.svg) center no-repeat;
    width: 9%;
    height: 22px;
    margin: 21px 0px 0px 3px;
  }

  .order-info__text-test {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    width: 24%;
    height: 18px;
    color: #000000;
    margin: 25px 41px 0 0px;
  }
  .order-info__button-test {
    border: 2px solid #e51937;
    background: transparent;
    width: 160px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #e51937;
    text-transform: uppercase;
    cursor: pointer;
    margin: 12px 0 0;
  }

  .order-info__button-test:hover {
    opacity: .5;
  }


@media(min-width: 481px) and (max-width: 768px) {
  body {
    max-width: 768px;
    min-width: 481px;
    font-family: Montserrat;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
  }

  .logo {
    background: url(img/Tesla-logo.svg) center no-repeat;
    box-sizing: border-box;
    display: inline-block;
    width: 166px;
    height: 51px;
    padding: 49px 98px;
    margin: 0;
  }

  .header__nav {
    height: 36px;
  }

  .header__link {
    display: none;
  }

  .right-nav__link {
    display: none;
  }

  .right-header__link_menuBurger {
    display: flex;
    padding: 0;
    margin: 4px 33px 0px 0px;
  }

  .right-header__menuBurger {
    display: block;
    background: url(img/menuBurger.svg) no-repeat;
    background-size: 100%;
    width: 35px;
    height: 25px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .section {
    background: url(img/Tesla-text.svg) 0px 99px no-repeat;
    background-size: 106vw;
    width: 100vw;
    height: 800px;
  }

  .section__auto {
    background: url(img/tesla-auto.svg) 35px 89px no-repeat;
    background-size: 91vw;
    height: 400px;
    margin-bottom: 29px;
  }

  .article {
    display: block;
    width: 100vw;
    height: 220px;
    margin: 0;
  }

  .article-info__detale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94vw;
    height: 83px;
    margin-bottom: 77px;
  }

  .article-info__background-image_speed {
    background: url(img/Speed.svg) no-repeat;
    background-size: 100%;
    width: 11%;
    height: 51px;
    margin: 46px 14px 0px;
  }

  .article-info__speed {
    margin: 0 113px 0 0;
  }

  .article-info__text-speed_big {
    font-size: 50px;
    line-height: 61px;
    width: 78px;
    height: 59px;
    margin-top: 38px;
  }

  .article-info__span-speed {
    width: 53px;
    height: 36px;
    margin: 0;
    padding: 0;
  }

  .article-info__background-image_distance {
    background: url(img/distance.svg) center no-repeat;
    background-size: 100%;
    width: 8%;
    height: 84px;
    margin: 66px 12px 0 0;
  }

  .article-info__distance {
    margin: 0;
  }

  .article-info__text-big_distance {
    font-size: 50px;
    line-height: 61px;
    width: 76%;
    height: 59px;
    margin: 35px 0 0 0;
  }

  .article-info__span-distance {
    margin: 0;
  }

  .order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 55px;
    margin: 0;
  }

  .order-info__background-image_test {
    background: url(img/steering-wheel.svg) no-repeat;
    background-size: 86%;
    width: 5vw;
    height: 34px;
    margin: 0 9px 0px;
  }

  .order-info__text-test {
    font-size: 16px;
    line-height: 20px;
    width: 14vw;
    height: 25px;
    color: #E51937;
    margin: 10px 42px 0 0;
  }

  .order-info__button-test {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    width: 29vw;
    height: 55px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #E51937;
    color: #FFFFFF;
    margin: 0;
  }
}


@media(min-width: 375px) and (max-width: 480px) {
  body {
    max-width: 480px;
    min-width: 375px;
    font-family: Montserrat;
    font-style: normal;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 8px 8px 29px;
  }

  .logo {
    background-size: 37vw;
    width: 138px;
    height: 42px;
    padding: 0;
    margin: 0;
  }

  .nav {
    display: none;
  }
 
  .right-header {
    width: 59vw;
    margin: 0;
  }

  .right-nav__link {
    display: none;
  }

  .right-header__menuBurger {
    width: 7vw;
    height: 15px;
    margin: 0;
  }

  .section {
    background: url(img/Tesla-text.svg) 0 85px no-repeat;
    background-size: 110vw;
    width: 100vw;
    height: 470px;
  }
  
  .section__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    width: 100vw;
    height: 61px;
  }
  
  .section__subtitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    width: 100vw;
    height: 13px;
  }
  
  .section__auto {
    background: url(img/tesla-auto.svg) 9px 47px no-repeat;
    background-size: 95vw;
    width: 100%;
    height: 224px;
    margin-bottom: 4px;
  }
  
  .article {
    display: block;
    margin: 0;
    width: 100vw;
    height: 144px;
  }

  .article-info__detale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 97vw;
    margin-bottom: 25px;
  }
  
  .article-info__background-image_speed {
    background-size: 12vw;
    width: 15%;
    height: 45px;
     margin: 17px 0px 0 10px;
  }
  
  .article-info__speed {
    width: 27%;
    margin: 0;
  }
  
  .article-info__text-speed_big {
    font-size: 27px;
    line-height: 33px;
    padding: 0;
  }
  
  .article-info__span-speed {
    font-size: 15px;
    line-height: 18px;
    margin: 0px 42px 0 9px;
  }
  
  .article-info__text-speed_small {
    font-size: 10px;
    line-height: 12px;
  }
  
  .article-info__background-image_distance {
    background-size: 8vw;
    margin: 6px 0 0 0;
    width: 15%;
    height: 41px;
  }
 
  .article-info__distance {
    width: 24%;
    margin: 0;
  }
  
  .article-info__text-big_distance {
    font-size: 27px;
    line-height: 33px;
    height: 33px;
    margin: 0;
  }

  .article-info__span-distance {
    font-size: 15px;
    line-height: 18px;
    margin: 8px;
  }

  .article-info__text-small_distance {
    font-size: 10px;
    line-height: 12px;
  }
  .order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .order-info__background-image_test {
    background: url(img/steering-wheel.svg) center no-repeat;
    background-size: 87%;
    width: 7%;
    margin: 0;
  }

  .order-info__text-test {
    color: #E51937;
    width: 25%;
    margin: 0px 23px 0 0;
  }
  .order-info__button-test {
    background: #E51937;
    color: #FFFFFF;
    margin: 0;
  }
}

.menu {}
.aside_top {}
.aside__header {
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #E51937;
}

.aside-conten__background-right {}
.aside-conten__text-white_right {}
.aside-conten__text-title_right {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-info_right {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.article-info__right {}
.article-info__background-image_dyuym {}
.article-info__text-big_dyuym {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__span-dyuym {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_dysplay {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-info__background-image_wireless {}
.article-info__text-big_wireless {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__text-small_wireless {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.article-info__background-image_litrov {}

.article-info__text-big_litrov {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px
}

.article-info__span-litrov {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.article-info__text-small_volume {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order-right {}
.order-info__background-image_detale {}

.order-info__text-detale_right {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.order-info__button-right {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #E51937;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
}

.aside-bottom {}
.aside-conten__background-left {}
.aside-conten__protection {}
.aside-conten__text-title_left {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-info_left {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.aside-conten__text-info_appraisal {}
.aside-conten__text-info_protection {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.aside-conten__text-appraisal {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
}

.aside-conten__text-appraisal_front-stars {}
.protection__star {}
.aside-conten__text-appraisal_sideways-stars {}
.aside-conten__text-sideways_stars-rack {}
.aside-conten__text-appraisal_rack-stars {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.aside-conten__text-driver_stars {}
.aside-conten__text-passenger_stars {}
.article-info__left {}
.article-info__background-image_shield {}

.article-info__text-big_star-five {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.article-info__text-small_star-security {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.order-left {}
.order-info__background-image_detale-left {}

.order-info__text-detale_left {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.order-info__button-left {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: #E51937;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-conten__car {}
.main-conten__background-image_auto {}

.main-conten__appraisal-model {
  font-weight: 600;
  font-size: 200px;
  line-height: 244px;
  color: #E51937;
  opacity: 0.1;
}

.footer {}