body{
    margin: 0 auto;
    width: 1440px;
    height: 2700px;
    font-family: Montserrat;
    font-style: normal;
}

.header{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.logo{
    background: url(img/Tesla-logo.svg) no-repeat;
    background-position: center;
    width: 166px;
    height: 42px;
    padding: 28px 69px;
    margin-right: 217px;
} 

.header__nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 19px;
}

.header__link{
    display: inline-flex;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-right: 59px;
}

.header__link_color_red{
   color: #E51937;
}

.header__line{
    width: 58px;
    border-top: 2px solid #E51937;
    margin: 7px 2px;
}

.menuBurger{
    background: url(img/menuBurger.svg) no-repeat;
    background-position: center;
    width: 24px;
    height: 15px;
    padding: 1px 41px;
    cursor: pointer;
}

.section{
    background:url(img/Tesla-text.svg) 0px 0px no-repeat;
    width: 100%;
    height: 714px;
 }

.section__title{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    color: #000000;
    width: 100%;
    height: 104px;
    margin-top: 32px;
    margin-bottom: 0;
}

.section__subtitle{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    color: #000000;
    width: 100%;
    height: 14px;
    margin: 0;
}

.section__auto{
    background: url(img/tesla-auto.svg) 200px 26px no-repeat;
    width: 100%;
    height: 492px;
    margin: 0;
}

.article{
	display: inline-flex;
    margin: 9px 314px;
    width: 57%;
    height: 65px;
}

.article__info_background-image_speed{
    background: url(img/Speed.svg) no-repeat;
    width: 52px;
    height: 39px;
    margin: 14px 12px 0px 3px;
}

.article__info-speed{
    font-weight: 600;
    color: #000000;
    margin-right: 73px; 
}

.article__info-text-speed{
    font-size: 35px;
    line-height: 43px;
    width: 60%;
    height: 43px;
   margin: 2px 0 0 0;
}

.article__info-span-speed{
    font-size: 20px;
    line-height: 24px;
    width: 37px;
    height: 25px;
    margin: 7px;
}

.article__info-small-speed{
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    height: 15px;
    margin: 0;
}

.article__info_background-image_distance{
    background: url(img/distance.svg) center no-repeat;
    width: 4%;
    height: 62px;
    margin: 7px 9px 0px 0;
}

.article__info-distance{
    margin-right: 99px;
}

.article__info-text-distance{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    width: 65%;
    height: 39px;
    margin: 2px 0 2px;
}

.article__info-span-distance{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 6px;
}

.article__info-small-distance{
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    width: 65%;
    height: 15px;
    margin: 0 2px
}

.article__info_background-image_test{
    background: url(img/test.svg) center no-repeat;
    width: 22px;
    height: 22px;
    margin: 22px 1px 0;
}

.article__info-text-tst{
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 12%;
    color: #000000;
    margin: 27px 37px 0 0;
   }

.article__info-btn-test{
    border: 2px solid #E51937;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    color: #E51937;
    margin: 12px 0 0;
}

.menu{
    background: url(img/menu.svg) center no-repeat;
    width: 37px;
    height: 18px;
    margin: auto;
}

.aside{
    background: url(img/tesla-model-s-cockpit.svg) 0 100% no-repeat;
    display: flex;
    width: 100%;
    height: 935px;
}

.aside__header{
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #e51937;
    padding: 99px 80px;
    margin: 0 494px 0 0;
    width: 35%;
    height: 86px;
}

.aside__conten_background-right{
    background: #e51937;
    width: 440px;
    height: 900px;
    margin-top: 34px;
}

.aside__conten-text-white{
    color: #FFFFFF;
}

.aside__conten-text-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 51px 0 14px 53px;
    margin: 0;
}

.aside__conten_text-info-right{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 316px;
    height: 206px;
    padding: 0 52px;
    margin: 0;
}

.aside__info-right{
    display: inline-block;
    width: 400px;
    padding: 0 0 0 45px;
    margin: 0;
}

.aside__info_background-image_dyuym{
    background: url(img/dyuym.svg) no-repeat;
    display: inline-block;
    width: 36px;
    height: 53px;
    padding: 0;
    margin: 64px 0 0 8px;
}

.aside__info-text-dyuym{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 52px 206px 0 0;
    float: right;
}

.aside__info-span-dyuym{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 10px;
}

.aside__info-small-dysplay{
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    float: revert;
}

.aside__info_background-image_wireless{
    display: inline-block;
    background: url(img/wireless.svg) no-repeat;
    width: 44px;
    height: 34px;
    margin: 48px 0 0 4px;
}

.aside__info-text-wireless{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    width: 173px;
    height: 36px;
    float: right;
    padding: 0 160px 0 0;
    margin: 36px 0 0;
}

.aside__info-small-wireless{
    display: inline-block;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    width: 166px;
    height: 30px;
    padding: 3px 0;
    margin: 0;
}

.aside__info_background-image-litrov{
    background: url(img/litrov.svg) no-repeat;
    width: 36px;
    height: 52px;
    float: left;
    padding: 0;
    margin: 55px 0 0 8px;
}

.aside__info-text-litrov{
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 42px 0 0 23px;
}

.aside__info-span-litrov{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 10px;

}

.aside__info-small-volume{
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    color: #FFFFFF;
    width: 158px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.aside__info_background-image_detale{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 22px;
    height: 22px;
    margin: 177px 9px 0 49px;
}

.aside__info-text-detale{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    margin: 182px 0 0;
}

.aside__info-btn_right{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    float: right;
    margin: 169px 43px 0 0;
}

.main{
   display: inline-block;
    width: 1440px;
    height: 900px;
    padding: 0;
    margin: 0;
}

.main__conten_background-left{
    background: #e51937;
    width: 440px;
    height: 900px;
    float: left;
    margin: 0;
}

.main__conten-protection{
    width: 440px;
    color: #FFFFFF;
    padding: 50px 0px 59px;
}

.main__conten–µ-text-protection{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 0 56px 13px;
    margin: 0;
}

.main__conten-text-info-left{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0 56px;
    margin: 0;
  }

  .main__conten-appraisal-stars{
    width: 440px;
    padding: 0 56px 91px;
    margin: 0;
}

  .main__conten-appraisal-protection{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 0 0 24px;
    margin: 0;
}

.main__conten-appraisal{
    width: 300px;
    height: 25px;
    display: inline-flex;
    padding: 0 0 12px;
}

.main__conten-appraisal-front-stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 62px 0 0;
}

.main__conten-appraisal-sideways-stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 6px 86px 0 0;
}

.main__conten-appraisal_sideways-rack-stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 31px 0 0;
}

.main__conten-appraisal-rack-stars{
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__conten-appraisal-driver-stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 49px 0 0;
}

.main__conten-appraisal-passenger-stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5px 44px 0 0;
}

.main__info-star{
    width: 440px;
    color: #FFFFFF;
}

.main__info_background-image_shield{
    background: url(img/shield.svg) no-repeat;
    width: 62px;
    height: 74px;
    float: left;
    margin: 8px 23px 0px 66px;
}

  .main__info-star-five{
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    margin: 0;
  }

  .main__info-star-security{
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 55px;
  }

  .main__info_background-image_detale{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 22px;
    height: 22px;
    margin: 17px 0 0 38px;
  }

  .main__info-text-detale{
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    padding: 20px 8px 0;
    margin: 0;
  }

  .main__info-btn-left{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    float: right;
    margin: 9px 55px 0 0;
}

.main__conten-car{
    width: 1000px;
    height: 900px;
    background: #FFFFFF; 
    float: left;
    margin: 0;
}

.main__conten_background-image_auto{
    background: url(img/Car.svg) 0 75px no-repeat;
    width: 1049px;
    height: 670px;
    margin: 0;
}

.main__conten-appraisal-model{
    font-weight: 600;
    font-size: 200px;
    line-height: 244px;
    width: 821px;
    height: 200px;
    color: #E51937;
    opacity: 0.1;
    margin: 96px 0 0 186px;
}

.footer{
    width: 94px;
    height: 38px;
    padding: 0 19px;
    float: right;
}