body{
    border: dashed 1px red;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
}

.wrap{
    border: dashed 1px red;
    width: 80%;
    margin: 0 auto;
}
   

.header{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.header__logo{
    background: url(img/Tesla-logo.svg) no-repeat;
    background-position: center;
    width: 200px;
    height: 42px;
    padding: 24px;
} 

.header__menu_nav{

}

.header__menu{
    padding: 0;
    width: 100%;
    height: 15px;
}

.header__menu_link{
    display: inline-flex;
}

.menu__link--active{
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   color: #E51937;
   margin-left: 219px;
}

.menu__link{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 59px;
}

.menu__link_model{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 21px;
}

.menu__link_roadster{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 40px;
}

.menu__link_energy{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 41px;
}

.header__menu_conten{
    display:  inline-flex;
}

.menu__conten_link{
    display: inline-flex;
}

.menu__link_store{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 218px;
}

.menu__link_enter{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
}

.menuBurger{
    /*border: dashed 1px green;*/
    background: url(img/menuBurger.svg) no-repeat;
    background-position: center;
    width: 100%;
    height: 15px;
    padding: 0 41px;
    cursor: pointer;
}

.section{
     margin: 0;
 }

.section__title{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    color: #000000;
    width: 100%;
    height: 102px;
    margin-top: 38px;
    margin-bottom: 0;
}

.section__subtitle{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    color: #000000;
    width: 100%;
    height: 19px;
    margin: 0;
}

.section__image_text{
    background: url(img/Tesla-text.svg) no-repeat;
    position: absolute;
    width: 1514px;
    height: 467px;
    top: 134px;
    margin: 0;
}

.section__image_auto{
    background: url(img/tesla-auto.svg) no-repeat;
    background-position: center;
    width: 968px;
    height: 450px;
    margin: 23px 198px 0;
}

.article{
	display: flex;
    width: 56%;
    height: 122px;
    margin: auto;
}

.article__image_speed{
    background: url(img/Speed.svg) no-repeat;
    background-position: center;
    width: 52px;
    height: 90px;
}

.article__speed{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    width: 154px;
    height: 56px;
    margin: 28px 11px;
}

.article__text_span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 37px;
    height: 25px;
}

.article__text_small{
    display: flex;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 80px;
    height: 15px;
    margin: 0;
}

.article_image_distance{
    background: url(img/distance.svg) no-repeat;
    background-position: center;
    width: 50px;
    height: 60px;
    margin: 34px 0;
}

.article__distance{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    width: 140px;
    height: 58px;
    margin-top: 28px;
}

.article__text_span.additional{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    width: 29px;
    height: 25px;
}

.article__text_small.additional{
    display: flex;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    width: 67px;
    height: 15px;
    padding: 0 3px;
}

.test{
    display: flex;
    justify-content: center;
    width: 21%;
    height: 89px;
    margin: 5px 14px;
}

.article__image_test{
    background: url(img/test.svg) no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    margin-top: 42px;
    margin-right: 42px;
}

.article__test{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    width: 89px;
    height: 18px;
    margin: 3px 26px;
}

.article__text_btn{
    border: 2px solid #E51937;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    color: #E51937;
    margin-left: 27px;
    margin-top: 37px;
}

.wraper__menu{
    display: flex;
    background: url(img/menu.svg) no-repeat;
    background-position: center;
    width: 28px;
    height: 14px;
    margin: auto;
}

.wraper{
    background: url(img/tesla-model-s-cockpit.svg) no-repeat;
    background-position: 0% 100%;
    display: flex;
    width: 100%;
    height: 936px;
}

.wraper__header{
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #e51937;
    margin: 100px 0 0 77px;
    width: 24%;
}

.conten{
    background: #e51937;
    width: 440px;
    height: 900px;
    margin-left: 40%;
    margin-top: 36px;
}

.wrper__conten{
    color: #FFFFFF;
}

.wraper__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 49px 0 10px 52px;
    margin: 0;
}

.wraper__text{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 72px 0 52px;
    margin: 0;
}

.wraper__info{
    display: inline-block;
    width: 400px;
    padding: 0 0 0 46px;
    margin: 7px 0 0 0;
}

.wraper__image_dyuym{
    background: url(img/dyuym.svg) no-repeat;
    display: inline-block;
    width: 36px;
    height: 53px;
    padding: 0;
    margin: 63px 0 0 8px;
}

.wraper__list_dyuym{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 51px 206px 0 0;
    float: right;
}

.wraper__items_dyuym{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.wraper__item_dysplay{
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    float: revert;
}

.wraper__image_wireless{
    display: inline-block;
    background: url(img/wireless.svg) no-repeat;
    width: 44px;
    height: 34px;
    margin: 48px 0 0 4px;
}

.wraper__list_wireless{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    width: 173px;
    height: 36px;
    float: right;
    padding: 0 160px 0 0;
    margin: 34px 0 0;
}

.wraper__item_wireless{
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    width: 166px;
    height: 30px;
    padding: 3px 0;
    margin: 0;
}

.wraper__image_litrov{
    background: url(img/litrov.svg) no-repeat;
    width: 36px;
    height: 52px;
    float: left;
    padding: 0;
    margin: 54px 0 0 8px;
}

.wraper__list_litrov{
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 42px 0 0 24px;
}

.wraper__items_litrov{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

.wraper__item_volume{
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    color: #FFFFFF;
    width: 158px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.wraper__image_excerpt{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 22px;
    height: 22px;
    margin: 176px 0 0 51px;
}

.wraper__info_excerpt{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    margin: 180px 0px 0px 7px;
}

.wraper__btn{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    float: right;
    margin: 170px 43px 0 0;
}

.aside__protection_car{
    background: url(img/Car.svg) no-repeat;
    background-position: 0% 100%;
    width: 72%;
    height: 540px;
    float: right;
    padding: 0px 0 0px 0;
    margin: 0;
}

.aside__protection_fon{
    font-weight: 600;
    font-size: 200px;
    line-height: 244px;
    color: #E51937;
    float: right;
    padding: 97px 0px 0 0;
    margin: 0;
    opacity: 0.1;
}

.aside__protection{
    border: dashed 1px red;
    background: #e51937;
    width: 440px;
    height: 900px;
    margin: 0;
}

.aside__protection_subject{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    width: 316px;
    height: 74px;
    color: #FFFFFF;
    padding: 50px 0 0 54px;
    margin: 0;
}

.aside__protection_sidebar{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    width: 316px;
    height: 134px;
    color: #FFFFFF;
    padding: 10px 54px;
    margin: 0;
  }

  .aside__protection_text{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 41px 0 0 54px;
    margin: 0;
}

.aside__protection_stars{
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 24px 47px;
}

.protection__stars{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 6px;
    margin: 0;
}

.stars{
    float: right;
    width: 155px;
    height: 25px;
    line-height: 37px;
    font-size: 13px;
    padding: 4px 31px;
    margin: 0;
}

.protection__stars_small{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.aside__protection_shield{
    background: url(img/shield.svg) no-repeat;
    width: 62px;
    height: 74px;
    float: left;
    margin: 79px 0 0 65px;
}

  .aside__protection_list{
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    padding: 73px 0px 0 149px;
    margin: 0;
  }

  .aside__protection_item{
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px 0px 3px 149px;
  }

  .aside__protection_image{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    width: 22px;
    height: 22px;
    margin: 68px 0 0 36px;
  }

  .aside__protection_excerpt{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    margin: 70px 0 0 7px;
  }

  .aside__protection_btn{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #E51937;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    float: right;
    margin: 59px 57px 0px 0;
}